@import url('https://fastly.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy.css');
@import 'tailwindcss';

@theme {
  /* font */
  --font-paperlogy: 'Paperlogy';

  /* color */
  --color-bg-black: #09090b;
  --color-bg-darkgray: #141620;

  --color-point-darkpurple: #404060;

  --color-text-white: #ffffff;
  --color-text-gray: #5a5b62;
}

@layer base {
  html {
    font-family: var(--font-paperlogy);
  }
}
