@import 'tailwindcss';

@theme {
  /* font */
  --font-paperlogy-200: 'Paperlogy-ExtraLight';
  --font-paperlogy-300: 'Paperlogy-Light';
  --font-paperlogy-800: 'Paperlogy-ExtraBold';
  --font-pretendard-200: 'Pretendard-ExtraLight';
  --font-pretendard-400: 'Pretendard-Regular';
  --font-pretendard-500: 'Pretendard-Medium';
  --font-pretendard-600: 'Pretendard-SemiBold';

  /* color */
  --color-bg-black: #09090b;
  --color-bg-black-100: #0e0f14;
  --color-bg-darkgray: #141620;

  --color-point-darkpurple: #404060;

  --color-text-white: #ffffff;
  --color-text-gray: #5a5b62;

  /* gradient */
  --gradient-linear-sunset: linear-gradient(to bottom, #f8eed8 0%, #f1e0c9 50%, #c991a6 100%);
  --gradient-linear-white-purple: linear-gradient(90deg, rgb(255, 255, 255), rgb(160, 160, 255));

  /* animation */
  --animate-fade-in-delay-500: fade-in 0.8s ease-out 0.5s forwards;
  --animate-fade-in-delay-1000: fade-in 0.8s ease-out 1s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@layer utilities {
  .bg-gradient-linear-sunset {
    background-image: var(--gradient-linear-sunset);
  }

  .text-gradient-linear-white-purple {
    background-image: var(--gradient-linear-white-purple);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
  }

  .animate-fade-in-delay-500 {
    animation: var(--animate-fade-in-delay-500);
    opacity: 0;
  }

  .animate-fade-in-delay-1000 {
    animation: var(--animate-fade-in-delay-1000);
    opacity: 0;
  }
}

@layer base {
  html {
    font-family: var(--font-paperlogy);
  }
}

@font-face {
  font-family: 'Paperlogy-ExtraLight';
  src: url('./assets/font/Paperlogy/Paperlogy-2ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy-Light';
  src: url('./assets/font/Paperlogy/Paperlogy-3Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Paperlogy-ExtraBold';
  src: url('./assets/font/Paperlogy/Paperlogy-8ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-ExtraLight';
  src: url('./assets/font/Pretendard/Pretendard-ExtraLight.woff2') format('woff2');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('./assets/font/Pretendard/Pretendard-Regular.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-Medium';
  src: url('./assets/font/Pretendard/Pretendard-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Pretendard-SemiBold';
  src: url('./assets/font/Pretendard/Pretendard-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
